!dependencies/
!dependencies/**/lib/
!demo/*
demo/Linux/textures/*.Identifier
client/x*
engine/x*
.vs/
*.suo
*.user
*.userosscache
*.userprefs
*.rsuser
*.vcxproj.user
*.depend
*.layout
ipch/
*.pdb
.vscode

[Bb]in/
[Oo]bj/
client/[Bb]in/
client/[Oo]bj/
client/target/
engine/[Bb]in/
engine/[Oo]bj/
client/textures/*.Identifier
engine/test/*

!client/*.ovo

*.o
*.obj
*.lo
*.la
*.dylib

*.glsl
*.vert
*.frag
*.spv

shaders_cache/

[Bb]uild/
client/[Bb]uild/
engine/[Bb]uild/

Thumbs.db
ehthumbs.db

*.log
*.dmp

*.ilk
*.idb
*.tlog

node_modules/

*.nupkg
*.snupkg
.nuget/
project.lock.json
artifacts/

TestResults/

*.tmp
*.temp
*.bak
*.swp
*.sln.docstates
x64/
x86/

$RECYCLE.Bin/

*.cache
*.clangd
